@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600&display=swap');
body{
    font-family: 'Popins', sans-serif;
    margin-left: 1rem;
    padding-left: 15rem;
    padding-right: 15rem;
    place-items: center;
}
iframe{
    width: 70%;
    height: 315px;
}